<!-- templates/www/review_detail.html -->

<!DOCTYPE html>

{% extends 'loggedin.html' %}

{% block content %}
<p>Vous êtes connecté en tant que <a href="{% url 'logout' %}">{{ request.user|capfirst }}.</a></p>
<div id="container-ticket">
    <p>
        <label>Titre&nbsp;:</label>
        <input type="text" value="{{ ticket.title }}" onmousedown="return false;">
    </p>
    <p>
        <label>Description&nbsp;:</label>
        <textarea name="description" cols="40" rows="10" onmousedown="return false;">{{ ticket.description }}</textarea>
    </p>
    <p>
        <label>Image&nbsp;:</label>
    </p>
    {% if ticket.image %}
        {% if ticket.image.url %}
            </p>
                <img src="{{ ticket.image.url }}" alt="Ticket Image">
            </p>
        {% endif %}
    {% endif %}
    <p>
        <label>Titre&nbsp;:</label>
        <input type="text" value="{{ review.headline }}" onmousedown="return false;">        
    </p>
    <p>
        <label>note&nbsp;:</label>
        <input type="number" value="{{ review.rating }}" id="id_rating">
    </p>
    {% if review.body %}
        <p>
            <label>commentaire&nbsp;:</label>
            <input type="text" value="{{ review.body }}" onmousedown="return false;">
        </p>
    {% endif %}
</div>
{% endblock content %}