<!-- templates/www/review_edit.html -->

<!DOCTYPE html>

{% extends 'loggedin.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'review.css' %}"> 
<h3>Modifier la review</h2>
<div id="container-review">
    <form method="post" enctype="multipart/form-data">
        {% if same_creator %}
            {{ edit_form.as_p }}
            {% if edit_form.instance.image %}
                <div class="form-field">
                    <label>Image actuelle:</label>
                    <img src="{{ edit_form.instance.image.url }}" alt="Image actuelle">
                </div>
            {% endif %}
        {% else %}
            <div id="container-ticket-no-same-creator">
                {% if edit_form.instance.user == request.user %}
                    <p><label>Ticket - Vous</label></p>
                {% else %}
                    <p><label>Ticket - {{ edit_form.instance.user|capfirst }}</label></p>
                {% endif %}
                <p><label>{{ edit_form.title }}</label></p>
                {% if edit_form.description %}
                    <p><label>{{ edit_form.description }}</label></p>
                {% endif %}
                {% if edit_form.instance.image %}
                    <div class="form-field">
                        <label>Image actuelle:</label>
                        <img src="{{ edit_form.instance.image.url }}" alt="Image actuelle">
                    </div>
                {% endif %}
            </div>
        {% endif %}
        {% if review_form %}
            <div class="form-field">
                {{ review_form.as_p }}
            </div>
        {% endif %}
        {% csrf_token %}
        <button type="submit" >Sauvegarder</button>
    </form>
</div>
{% endblock content %}