<!-- templates/www/ticket_edit.html -->

<!DOCTYPE html>

{% extends 'loggedin.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'review.css' %}"> 
<h3>Modifier la review</h2>
<div id="container-review">
    <form method="post" enctype="multipart/form-data">
        {{ edit_form.as_p }}
        {% if edit_form.instance.image %}
            <div class="form-field">
                <label>Image actuelle:</label>
                <img src="{{ edit_form.instance.image.url }}" alt="Image actuelle">
            </div>
        {% endif %}
        {% if review_form %}
            <div class="form-field">
                {{ review_form.as_p }}
            </div>
        {% endif %}
        {% csrf_token %}
        <button type="submit" >Sauvegarder</button>
    </form>
</div>
{% endblock content %}