<!-- templates/www/ticket_delete.html -->

<!DOCTYPE html>

{% extends 'loggedin.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'ticket.css' %}"> 
<h3>Supprimer un ticket</h2>
<div id="container-ticket">
    <p>
        <span class="left-text">Vous avez publié une critique</span>
        <span class="right-text">{{ ticket.time_created }}</span>
    </p>
    <p style="margin-top: 50px;"><label>{{ ticket.title }}</label></p>
    {% if ticket.description %}
        <p><label>{{ ticket.description }}</label></p>
    {% endif %}
    {% if ticket.image %}
        {% if ticket.image.url %}
            <p>
                <img src="{{ ticket.image.url }}" alt="Ticket Image">
            </p>
        {% endif %}
    {% endif %}
    <p><label id="label-confirmation">Etes vous sure de vouloir supprimer ce ticket?</label></p>
    <form method="post">
        {% csrf_token %}
        <div class="container-ticket">
            <p>
                <button type="submit" name="confirm" value="oui">Oui</button>
                <button type="submit" name="confirm" value="non">Non</button>
            </p>
        </div>
    </form>
</div>
{% endblock content %}