/* CSS part for header */

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #f2f2f2;
    border: 2px solid #ccc;
}

#header-loggedin img {
    height: 70px;
    margin-right: 10px;
}

h1 {
    margin: 0;
    font-size: 48px;
}

/* CSS part for footer */

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f8f8;
    padding: 10px 0;
    text-align: center;
    color: #888;
}

/* CSS part for body */

body {
    background-image: url("/static/images/LITReview_st_b.png");
    background-size: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 60px;
}

a {
    text-decoration: none;
}

/* CSS part for login www/templates/www/home.html page */

#login-container {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

#signup {
    width: 350px;
    height: 120px;
    text-align : center;
    padding : 20px 60px 50px 50px;
    background-color: #f2f2f2;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#login {
    width: 350px;
    text-align : center;
    padding : 20px 60px 50px 50px;
    background-color: #f2f2f2;
    border-radius: 5px;
    border: 1px solid #ccc;
}
 
input[type="text"], input[type="password"], input[type="submit"], input[type="url"], textarea[name="description"] {
    text-align : center;
    margin : 10px;
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
  
input[type="submit"], input[type="url"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

/* CSS part for authentication/templates/authentication/signup.html page */

.container-signup {
    margin : 5%;
    margin-left : auto;
    margin-right : auto;
    width: 700px;
    text-align: left;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding : 50px 0px 50px 50px;
    justify-content: space-around;
}

.form-signup {
    margin-bottom: 10px;
    display: flex;
    align-items: right;
}

#container-signup input[type='text'] {
    display: flex;
    justify-content: flex-end;
}

#return-signup {
    text-align: center;
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    display: inline-block;
}

/* CSS part of header once logged */

#header-loggedin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
    border: 2px solid #ccc;
}

#container-loggedin a {
    margin-right: 20px;
    font-size: 24px;
}

/* CSS part of www/templates/www/ticket.html and ticket-detail */

h3 {
    display: flex;
    justify-content: center;
    font-size : 36px;
}

#container-ticket {
    margin : 2%;
    margin-left : auto;
    margin-right : auto;
    width: 680px;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding : 10px 0px 50px 50px;
    justify-content: space-around;
    border: 1px solid #ccc;
}

#container-ticket input[type="text"], textarea[name="description"] {
    width: 600px;
    text-align : left;
    background-color: #f2f2f2;
    border-radius: 5px;
}

#container-ticket button[type="submit"] {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin-top : 10px;
    width: 630px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#container-ticket img {
    width: auto;
    max-width: 300px;
    height: auto;
    display: block;
    margin: auto;
}

/* CSS part for post */

#modify-ticket {
    text-align: center;
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    display: inline-block;
}

/* CSS part for flux */

#new-ticket , #new-review{
    text-align: center;
    width: 300px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    display: inline-block;
}

#container-flux-button {
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
}