input[type="text"], input[type="password"], input[type="submit"], input[type="url"], textarea[name="description"], textarea[name="body"] {
    text-align : center;
    margin : 10px;
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#container-review input[type="text"], textarea[name="description"], textarea[name="body"] {
    width: 600px;
    text-align : left;
    background-color: #f2f2f2;
    border-radius: 5px;
    font-family: Arial;
    font-size: 14px;
    resize: none;
}

#container-review {
    margin : 2%;
    margin-left : auto;
    margin-right : auto;
    width: 680px;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding : 10px 0px 50px 50px;
    justify-content: space-around;
    border: 1px solid #ccc;
}

#container-review img {
    width: auto;
    max-width: 300px;
    height: auto;
    display: block;
    margin: auto;
}

#id_rating {
    display: flex;
    flex-direction: row;
}
  
#id_rating label {
    margin-right: 80px;
}

#container-review button[type="submit"] {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin-top : 10px;
    width: 630px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

h3 {
    display: flex;
    justify-content: center;
    font-size : 36px;
}

.star {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("/static/images/empty-star.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.filled {
    background-image: url("/static/images/filled-star.png");
}

#label-confirmation {
    display: flex;
    justify-content: center;
    color: red;
}

#container-ticket {
    margin : 2%;
    margin-left : 0;
    width: 580px;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding : 10px 0px 50px 50px;
    border: 1px solid #ccc;
}

#container-ticket-no-same-creator input[type="text"] textarea {
    border: none;
    cursor: not-allowed;
    border: 1px solid #ccc;
    /* pointer-events: none; */
}

#container-ticket-no-same-creator label, img{
    border: none;
    cursor: not-allowed;
    pointer-events: none;
    user-select: none;
}

.left-text {
    float: left;
}
  
  .right-text {
    float: right;
    margin-right: 50px;
}