h3 {
    display: flex;
    justify-content: center;
    font-size : 36px;
}

#container-ticket {
    margin : 2%;
    margin-left : auto;
    margin-right : auto;
    width: 680px;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding : 10px 0px 50px 50px;
    justify-content: space-around;
    border: 1px solid #ccc;
}

#container-ticket input[type="text"], input[type="submit"], textarea[name="description"] {
    width: 600px;
    margin : 10px;
    text-align : left;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    font-family: Arial;
    font-size: 14px;
    resize: none;
}

#container-ticket img {
    width: auto;
    max-width: 300px;
    height: auto;
    display: flex;
    margin: auto;
}

#container-ticket button[type="submit"], input[type="submit"] {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin-top : 10px;
    width: 630px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#id_rating {
    display: flex;
    flex-direction: row;
}

#id_rating label {
    margin-right: 80px;
}

#label-confirmation {
    display: flex;
    justify-content: center;
    color: red;
}

.disabled-button {
    opacity: 0.5; /* Réduit l'opacité du bouton */
    pointer-events: none; /* Désactive les événements de clic sur le bouton */
  }
  