<!-- templates/www/partials/post_review_snippet.html -->

<div id="container">
    <p>
        <span class="left-text">Vous avez publié une critique</span>
        <span class="right-text">{{ post.time_created }}</span>
    </p>
    <p style="margin-top: 50px;">
        <label>{{ post.headline }} - {{ post.rating }}/5</label>
            <div class="rating-stars">
                <span class="star {% if post.rating >= 1 %}filled{% endif %}"></span>
                <span class="star {% if post.rating >= 2 %}filled{% endif %}"></span>
                <span class="star {% if post.rating >= 3 %}filled{% endif %}"></span>
                <span class="star {% if post.rating >= 4 %}filled{% endif %}"></span>
                <span class="star {% if post.rating == 5 %}filled{% endif %}"></span>
            </div>
        </label>
    </p>
    {% if post.body %}
        <p><label>{{ post.body }}</label></p>
    {% endif %}
    <div id="container-ticket">
        {% if post.user == post.ticket.user %}
            <p><label>Ticket - Vous</label> </p>
        {% else %}
            <p><label>Ticket - {{ post.ticket.user }}</label> </p>
        {% endif %}
        <p><label>{{ post.ticket.title }}</label></p>
        {% if post.ticket.description %}
            <p><label>{{ post.ticket.description }}</label></p>
        {% endif %}
        {% if post.ticket.image %}
            {% if post.ticket.image.url %}
                <p>
                    <img src="{{ post.ticket.image.url }}" alt="Ticket Image" ondragstart="return false;">
                </p>
            {% endif %}
        {% endif %}
    </div>
    <div class="container-buttons">
        <p>
            <a href="{% url 'review_edit' post.id %}" id="post-button" ondragstart="return false;">Modifier</a>
            <a href="{% url 'review_delete' post.id %}" id="post-button" ondragstart="return false;">Supprimer</a>
        </p>
    </div>
</div>
