<!-- templates/www/partials/review_snippet.html -->

<div id="container">
    {% if post.ticket.user == request.user %}
        <p><label>Le {{ post.time_created }}, vous avez publié une critique</label></p>
    {% else %}
        <p><label>Le {{ post.time_created }}, {{ request.user|capfirst }} a publié une critique</label></p>
    {% endif %}
    <p>
        <label>{{ post.headline }} - {{ post.rating }}
            <div class="rating-stars">
                <span class="star {% if post.rating >= 1 %}filled{% endif %}"></span>
                <span class="star {% if post.rating >= 2 %}filled{% endif %}"></span>
                <span class="star {% if post.rating >= 3 %}filled{% endif %}"></span>
                <span class="star {% if post.rating >= 4 %}filled{% endif %}"></span>
                <span class="star {% if post.rating == 5 %}filled{% endif %}"></span>
            </div>
        </label>
        
    {% if post.body %}
        <p><label>{{ post.body }}</label></p>
    {% endif %}
    <div id="container-ticket">
        {% if post.ticket.user == request.user %}
            <p><label>Ticket - Vous</label> </p>
        {% else %}
            <p><label>Ticket - {{ request.user|capfirst }}</label> </p>
        {% endif %}
        <p><label>{{ post.ticket.title }}</label></p>
        {% if post.ticket.description %}
            <p><label>{{ post.ticket.description }}</label></p>
        {% endif %}
        {% if post.ticket.image %}
            {% if post.ticket.image.url %}
                <p>
                    <img src="{{ post.ticket.image.url }}" alt="Ticket Image">
                </p>
            {% endif %}
        {% endif %}
    </div>
    <div class="container-buttons">
        <p>
            <a href="{% url 'review_edit' post.id %}" id="post-button">Modifier</a>
            <a href="{% url 'review_delete' post.id %}" id="post-button">Supprimer</a>
        </p>
    </div>
</div>
