<!-- templates/www/partials/ticket_snippet.html -->

<div id="container">
    {% if post.user == request.user %}
        <p><label onmousedown="return false;">Ticket - Vous</label> </p>
    {% else %}
        <p><label onmousedown="return false;">Ticket - {{ request.user|capfirst }}</label> </p>
    {% endif %}
    <p><label onmousedown="return false;">{{ post.title }}</label></p>
    {% if post.description %}
        <p><label onmousedown="return false;">{{ post.description }}</label></p>
    {% endif %}
    {% if post.image %}
        {% if post.image.url %}
            <p>
                <img src="{{ post.image.url }}" alt="Ticket Image">
            </p>
        {% endif %}
    {% endif %}
    <div class="container-buttons">
        <p>
            <a href="{% url 'ticket_edit' post.id %}" id="post-button">Modifier</a>
            <a href="{% url 'ticket_delete' post.id %}" id="post-button">Supprimer</a>
        </p>
    </div>

</div>
