<!-- templates/loggedin.html -->

{% load static %}

<head>
    <title>LitReview</title>
    <link rel="stylesheet" href="{% static 'app.css' %}">   
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
</head>
<body>
    <div id="header-loggedin">
        <img src="{% static 'images/LITReview_st.png' %}" alt="Logo LitReview">
        <h1>LitReview</h1>
        <div id="container-loggedin">
            <a href="{% url 'login' %}">Flux</a>
            <a href="{% url 'new_ticket' %}">Posts</a>
            <a href="{% url 'login' %}">Abonnements</a>
            <a href="{% url 'logout' %}">Se déconnecter</a>
        </div>
    </div>
    <div id="footer">
        <p>&copy; 2023 LeChat76. Tous droits réservés.</p>
    </div>
    {% block content %}
    {% endblock content %}
</body>






